
<style type="text/css"> 
@charset "UTF-8";

/* CSS Document */


/* Box sizing */

/*Main Content */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Tag Selector Role */

h1 {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color:#808080;
   background color:"#E6E6FA"
	
}

h2 {
    padding-top: 10px;
    font-family: 'Taviraj', serif;
    color:#808080;
 
}



</style>
