
<style type="text/css"> 
@charset "UTF-8";

/* CSS Document */


/* Box sizing */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Tag Selector Role */

h1 {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color:#808080;
}

h2 {
    padding-top: 10px;
    font-family: 'Taviraj', serif;
   color:#808080;
}

/*footer CSS*/

.social {
    text-align: center;
}

.footer {
	background-color: #333333;
	
}

.footer4 {
	color: #FFFFFF;
}

.footer-bottom {
	color: #FFFFFF;
	background-color: #000000;
	
}

.footer p {
	color: #cccccc;
	background-color: #000000;
}
/*Main Content */

<i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>

</style>
