
<style type="text/css"> 
@charset "UTF-8";

/* CSS Document */


/* Box sizing */


/*Main Content */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
/*Main Content */
.page-header {
 padding-top: 30px;
 margin-bottom: 50px;
}

/* Body Tag Selector Role */

h1 {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
 }

h2 {
    border-style: dashed;
    font-family: 'Taviraj', serif;
    padding-top: 10px;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: orange;
}

body {
    background color:white
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}

.width {
	width: 800px;
}
</style>

 
