<style type="text/css">
/* CSS Document */


/* Box sizing */

/* Smartphone landscape */
@media (min-width: 480px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}


html {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Body Tag Selector Role */

body {
    font-family: "sans-serif/Arial"; 
    color: #FFFFFF;
	
}

h1 {
    font-size: 38px;
    color: #000000;
}

h1 span {
    color: #FFFFFF;
}


h2 {
    color: #000000;
    font-size: 20px;
    font-family: "sans-serif/Arial";
    text-align:center;
}
 

h3 {
    color: grey;
    font-size: 12px;
}


h4 {
    color:#000000;
    background-color:#D3D3D3;
    font-size: 12px;
    opacity: 1.5;
   }

 

h5 {
    color: #d3d3d3;
}

p {
    margin: 0;
    color:#808080;

}

p span {
    color: #A9A9A9;
}

a {
    color: #000000;
    text-decoration: none;
}


.header {
    background-color: #FFFFFF;
   text-align:center;
}

.main {
    background-color: #FFFFFF;
}

.row {
    overflow: hidden;
}


/* GRID RULES */


.alpha {
    margin-left: 0px;
}

.omega {
    margin-right: 0px;
}

.nav {
	float:center;
	 text-decoration:none;
	color:#000000;
	background-color:#FFFFFF;
	 
	
}

.nav ul li {
    display: inline-block;
}

.a {
    text-decoration: none;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}


/* Header Styles */

.brand {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 50px;
}



.active a {
    color: #FFFFFF;
    /* white */
}

.main-content-top {
   float: left;
   margin: 10px;
   padding: 10px;
   
}

.page-header h1 {
    font-weight: bold;
    text-align: center;
}

.page-header p {
    font-size: 26px;
}

.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header.home a {
    padding-left: 35px;
}

.pull-right {
    float: right;
}


ul {
    color: #000000;
    padding: 12px;
    list-style: none;
}

figure {
	background-color:black;
	color:white;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size:24px;
	width:140px;
	height:100px;
	padding-top:40px;

}

.column {
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 10px;
}
/*Main Content */

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
    background-color: #40E0D0;
}

.page-header p {
    padding-left: 15px;
}


/*HOME PAGE CSS*/

.page-header.home {
    margin-bottom: 0;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FFFFFF;
}

.message h3 {
    color: #FFFFFF;
}


.main-content-bottom {
    padding-bottom: 75px;
}

.contentbox {
    background-color:#D3D3D3;
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
    color: #333333;
}

.contentbox-beige a {
    color:#333333;
}

.contentbox-beige {
    background-color: #808080;
    padding: 13px;
    margin-bottom: 70px;
}

.contentbox>img {
    margin-right: 15px;
}

.content-beige>img {
    margin-left: 15px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #D3D3D3;
    /* LightGray*/
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #B45737;
    /* lighter teal */
}

.message .btn {
    margin-left: 20px;
}


.one-whole {
   width: 748px;
  }
    
.three-quarters {
   width: 556px;
 }
    
.one-half {
   width: 364px;
}
    
.one-quarter {
   width: 172px;
}
    
.two-thirds {
    width: 492px;
}
    
.one-thirds {
    width: 236px;
    background-color:#DCDCDC;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
  
}

.one-fourth {
 
   padding-top:10px;
}
    
.one-sixth {
   width: 108px;
  
}

article {
    background-color:#DCDCDC;
    width:1000px;
    height:500px;
	
}

section {
  float: left;
  width: 25%;
  margin: 0 1.5%;
}

aside {
  float: left;
  margin: 0 1.5%;
  width: 50%;
}

/*ABOUT PAGE*/

form {
    background-color: white;
    height:110px;
    width: 250px;
    border: 1px black groove;
    padding: 10px;
    margin: 10px;
    text-align:left;
    font-size:18px;
}

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

.page-header p {
    padding-left: 15px;
}



/*HOME PAGE CSS*/

.page-header.home {
    margin-bottom: 0;
}

message1 {
   float: left;
}

message2 {
   float: center;
 }

message3 {
   float:right;
}



.main-content-bottom {
    padding-bottom: 75px;
}

.contentbox {
    background-color: #FFFFFF;
    
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
    color: #333333;
}

.contentbox-beige a {
    color:#333333;
}

.contentbox-beige {
    background-color: #ffffff;
    padding: 13px;
    margin-bottom: 70px;
}



.contentbox>img {
    margin-right: 15px;
}

.content-beige>img {
    margin-left: 15px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #D3D3D3;
    /* LightGray*/
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #588B8D;
    /* lighter teal */
}

.message .btn {
    margin-left: 20px;
}


/*footer CSS*/

.footer {
	background-color:black;
	color:grey;
	font-size: 18px;
        font-weight: 200;
}


.tile {
    margin: 0 0 5px 5px;
    padding: 10px;
    background-color: #40E0D0;
    color: #FFFFFF;
}

.tile p {
    margin: 0;
}

.tile i {
    font-size: 108px;
}

.team-member h1 {
    text-align: center;
}

.team-member ul {
    text-align: right;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

 

</style>

