<style type="text/css">
/* CSS Document */


/* Box sizing */

/* Smartphone landscape */
@media (min-width: 480px) {


}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}


html {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Body Tag Selector Role */

body {
    font-family: 'Swanky+and+Moo+Moo', sans-serif;
   
    color: #FFFFFF;
}

h1 {
    font-size: 38px;
    color: #000000;
}

h1 span {
    color: #FFFFFF;
}

h2 {
   font-size: 32px;
    color: #000000;
    margin:0;
    padding:30px;
}

h3 {
    color: #000000;
    margin: 0;
}

h4 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

h5 {
    color: #FFFFFF;
}

p {
    margin: 0;
    color:#808080;
}

p span {
    color: #FFFFFF;
}

a {
    color: #000000;
    text-decoration: none;
}

.header {
    background-color: #FFFFFF;
   text-align:center;
}

.main {
    background-color: #FFFFFF;
}

.row {
    overflow: hidden;
}
/* GRID RULES */


.alpha {
    margin-left: 0px;
}

.omega {
    margin-right: 0px;
}

.nav {
	float:center;
	 text-decoration:none;
	color:#000000;
	padding:1em;
	
}

.nav ul li {
    display: inline-block;
}

.a {
    text-decoration: none;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}


/* Header Styles */

.brand {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 50px;
}

    
.column {
	    
    margin-left: 10px;
  }

.active a {
    color: #FFFFFF;
    /* white */
}

.main-content-top {
   float: left;
   margin: 10px;
   padding: 10px;
   
}

.page-header h1 {
    font-weight: bold;
    text-align: center;
}

.page-header p {
    font-size: 26px;
}

.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header.home a {
    padding-left: 35px;
}

.pull-right {
    float: right;
}

ul {
    color: #000000;
    padding: 12px;
    list-style: none;
}


/*Main Content */

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
    background-color: #40E0D0;
}

.page-header p {
    padding-left: 15px;
}


/*HOME PAGE CSS*/

.page-header.home {
    margin-bottom: 0;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FFFFFF;
}

.message h3 {
    color: #FFFFFF;
}


.main-content-bottom {
    padding-bottom: 75px;
}

.contentbox {
    background-color: #FFFFFF;
    
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
    color: #333333;
}

.contentbox-beige a {
    color:#333333;
}

.contentbox-beige {
    background-color: #ffffff;
    padding: 13px;
    margin-bottom: 70px;
}



.contentbox>img {
    margin-right: 15px;
}

.content-beige>img {
    margin-left: 15px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #D3D3D3;
    /* LightGray*/
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #588B8D;
    /* lighter teal */
}

.message .btn {
    margin-left: 20px;
}

.one-third {
    width: 236px;
}


/*ABOUT PAGE*/

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
    background-color: #40E0D0;
}

.page-header p {
    padding-left: 15px;
}


/*HOME PAGE CSS*/

.page-header.home {
    margin-bottom: 0;
}

message1 {
   float: left;
}

message2 {
   float: center;
 }

message3 {
   float:right;
}



.main-content-bottom {
    padding-bottom: 75px;
}

.contentbox {
    background-color: #FFFFFF;
    
}

.contentbox h4 {
    font-size: 20px;
    font-weight: normal;
}

.contentbox li {
    font-size: 18px;
    font-weight: 200;
    color: #333333;
}

.contentbox-beige a {
    color:#333333;
}

.contentbox-beige {
    background-color: #ffffff;
    padding: 13px;
    margin-bottom: 70px;
}



.contentbox>img {
    margin-right: 15px;
}

.content-beige>img {
    margin-left: 15px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    background-color: #D3D3D3;
    /* LightGray*/
    color: #FFF;
    padding: 15px 20px;
    border: 0 none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease-out;
    -ms-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #588B8D;
    /* lighter teal */
}

.message .btn {
    margin-left: 20px;
}


/*footer CSS*/

.footer {
    background-color: #333333;
}

.footer4 {
    color: #FFFFFF;
}

.footer-bottom {
    color: #FFFFFF;
    background-color: #000000;
}

.footer-bottom a {
    color: #FFFFFF;
}

.footer-bottom a:hover {
    color: #5adae2;
    /* turquoise */
}

.footer p {
    font-size: 16px;
    font-weight: 200;
    color: #cccccc;
    margin-top: 0;
    background-color: #333333;
}

.footer ul {
    font-size: 16px;
    font-weight: 200;
}

.footer a:hover,
.footer i:hover {
    color: #5adae2;
}

.social {
    text-align: center;
}

.social-list {
    text-align: center;
}

.social-list li {
    display: inline-block;
}

.social-list i {
    background-color: #2D2D2D;
    margin: 5px 10px 0 0;
    padding: 3px;
    width: 40px;
    display: inline-block;
}

.social-list i:hover {
    background color: #373737;
    /* dark grey */
}

.tile {
    margin: 0 0 5px 5px;
    padding: 10px;
    background-color: #40E0D0;
    color: #FFFFFF;
}

.tile p {
    margin: 0;
}

.tile i {
    font-size: 108px;
}

.team-member h1 {
    text-align: center;
}

.team-member ul {
    text-align: right;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

 

</style>

