
<style type="text/css"> 
@charset "UTF-8";

/* CSS Document */


/* Box sizing */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body Tag Selector Role */

h1 {
   font-family: 'Roboto', sans-serif;
  color:#808080;

}

h2 {
   font-family: 'Taviraj', serif;
  color:#808080;
}

<i class="fa fa-quote-left fa-3x fa-pull-left fa-border" aria-hidden="true"></i>
<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">By October 14</span>

</style>
